<nav class="site-nav">
    <div class="nav-container">
        <a href="/{{ site }}" class="logo">
            <img src="/static/logo/logo-{{ site }}.png" alt="RFA Logo" title="Radio Free Asia - {{ site }}">
        </a>
        <div class="nav-links">
            <a href="/mandarin" {%if site == "mandarin" %} class="hide" {% endif %}>普通话</a>
            <a href="/cantonese" {%if site == "cantonese" %} class="hide" {% endif %}>粤语</a>
            <a href="/burmese" {%if site == "burmese" %} class="hide" {% endif %}>မြန်မာ</a>
            <a href="/korean" {%if site == "korean" %} class="hide" {% endif %}>한국어</a>
            <a href="/lao" {%if site == "lao" %} class="hide" {% endif %}>ລາວ</a>
            <a href="/khmer" {%if site == "khmer" %} class="hide" {% endif %}>ខ្មែរ</a>
            <a href="/tibetan" {%if site == "tibetan" %} class="hide" {% endif %}>བོད་ཡིག</a>
            <a href="/uyghur" {%if site == "uyghur" %} class="hide" {% endif %}>ئۇيغۇر</a>
            <a href="/vietnamese" {%if site == "vietnamese" %} class="hide" {% endif %}>Tiếng Việt</a>
            <a href="/english" {%if site == "english" %} class="hide" {% endif %}>English</a>
        </div>
    </div>
</nav>